SUPABASE_URL=TODO
NEXT_PUBLIC_SUPABASE_URL=TODO
NEXT_PUBLIC_SUPABASE_ANON_KEY=TODO
SUPABASE_ANON_KEY=TODO
SUPABASE_SERVICE_ROLE_KEY=TODO

# Azure access
AZURE_STORAGE_CONNECTION_STRING=connection-string
AZURE_CONTAINER_NAME = container-name
